@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

#root {
  cursor: url('./assets/cursor/Vector 1.svg'), default;
  overflow-x: hidden;
}

.custom-scrollbar {
  scrollbar-color: #ffcc29 #310b0a;
}

.custom-mask {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.custom-cursor {
  cursor: none;
}

.no-bar-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-button {
  transition: all 0.25s ease-in-out;
  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }
  &:after {
    padding: 8px 0px;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.25s;
    position: absolute;
    content: attr(data-tag);
    transform: translateY(-50%) rotateX(90deg);
  }
  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    display: block;
    transition: 0.25s;
    position: relative;
    content: attr(data-tag);
    transform: translateY(0) rotateX(0);
  }
}
@font-face {
  font-family: 'neue';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Neue Montreal/NeueMontreal-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'neue';
  font-style: medium;
  font-weight: 500;
  src: url('./assets/fonts/Neue Montreal/NeueMontreal-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'neue';
  font-style: bold;
  font-weight: 700;
  src: url('./assets/fonts/Neue Montreal/NeueMontreal-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'new';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/New Title/NewTitle-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'new';
  font-style: bold;
  font-weight: 700;
  src: url('./assets/fonts/New Title/NewTitle-Bold.ttf') format('truetype');
}
